# Shoulda macros for Rspec

# association
snippet itshbt shoulda macros for rspec: should_belong_to
	it { should_belong_to :${1:association} }
snippet itshhabtm shoulda macros for rspec: should_have_and_belong_to_many
	it { should_have_and_belong_to_many :${1:association} }
snippet itshhm shoulda macros for rspec: should_have_many
	it { should_have_many :${1:association} }
snippet itshho shoulda macros for rspec: should_have_one
	it { should_have_one :${1:association} }

